h1 {
    color: #ed3237;
    font-size: 50px;
    text-align: center;
}
#Menu-servicios1 {
    color: #ed3237;
    font-size: 20px;
    text-align: center;
}
#Nombre-disciplinas1 {
    color: #ed3237;
    font-size: 20px;
    text-align: center;
}